---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<script>
    const languages = ["pt", "es"];
    const userLang = navigator.language.split("-")[0];

    if (languages.includes(userLang)) {
        window.location.pathname = `/${userLang}/`;
    }
</script>

<Layout title="Victor C. Marinho | Software Developer">
    <main class="flex flex-col gap-8 md:gap-16">
        <Hero />
        <About />
        <Experience />
        <Skills />
        <Projects />
    </main>
    <Footer />
</Layout>
