---
import {  } from 'astro';
---


<header  class="flex h-16 items-center justify-center sticky w-full top-0 left-0 z-fixed bg-white shadow-[0_1px_4px_rgba(146,161,176,.15)]">
	<nav class="flex justify-between max-w-5xl w-full text-secondary font-default mr-mb2 ml-mb2">
		<div>
			<a href="#">Victor Marinho</a>
		</div>
		<menu >

		</menu>
	</nav>
</header>