---
// RAVerificadaSelo.astro
// Selo de verificação do Reclame Aqui
---

<div id="ra-verified-seal"></div>
<script
    id="ra-embed-verified-seal"
    src="https://s3.amazonaws.com/raichu-beta/ra-verified-dev/bundle.js"
    type="text/javascript"
    data-id="NTA1MTI6ZmluYWRvLWRlbC11bml2ZXJzZQ=="
    data-target="ra-verified-seal"
    data-model="horizontal_1"
    async></script>
