---
import { ViewTransitions } from 'astro:transitions';
import { SEO } from 'astro-seo';
import { metadataConfig } from '../config/metadata.ts';

---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Victor Marinho</title>
		<ViewTransitions />
		<SEO {...metadataConfig}/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
</style>
